body{
    margin: 0px;
    padding: 0px;
    font-family: "Barlow", sans-serif;
    font-size: 18px;
    font-weight: 600;
}
/*=== Navigation Bar ===*/
nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    padding-left: 20px;
}
.nav-container {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.icon-hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
}
.nav-items {
    position: absolute;
    top: 100px;
    max-width: 100%;
    right: 0px;
    padding: 30px;
    left: 0px;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.nav-items div {
    background-color: white;
    width: 100%;
    padding: 20px 0;
}
.nav-items div::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 30px;
    border-width: 16px;
    border-style: solid;
    border-color: transparent white white transparent;
}
.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    padding: 10px;
}
.nav-links li {
    margin-bottom: 30px;
    color: hsl(210, 4%, 67%);
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}
.button button {
    background-color: hsl(51, 100%, 49%);
    border: none;
    border-radius: 25px;
    padding: 15px 20px;
    font-family: "Fraunces", serif;
    font-weight: 700;
    cursor: pointer;
}
.button button:hover {
    background-color: hsl(200, 100%, 72%);
}
/*=== Hero section ===*/
#hero {
    background-image: url(images/mobile/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 2.3rem;
    color: white;
}
/*=== body section ===*/
.body {
    display: grid;
    grid-template-columns: 1fr;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
.body div {
    width: 100%;
    margin: 0;
    height: 100%;
}
.body div img {
    width: 100%;
    height: 100%;
}
.transform-text, .stand-out-text, .graphic-text, .photography-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.heading {
    font-size: 2.3rem;
    font-family: "Fraunces", serif;
    font-weight: 700;
    padding: 0.5rem;
    margin: 0.5rem 0;
}
.text {
    padding: 0.5rem 5.5rem;
}
.body div a {
    text-decoration: none;
    color: hsl(212, 27%, 19%);
    font-family: "Fraunces", serif;
    font-weight: 700;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}
.transform-text .text, .stand-out-text .text {
    color: hsl(232, 10%, 55%);
}
.body div a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 100%;
    height: 10px; 
    border-radius: 20px; 
    z-index: -1; 
}
.transform-text a::after {
    background-color: hsl(51, 97%, 85%);
}
.transform-text a:hover::after {
    background-color: hsl(51, 100%, 49%);
}
.stand-out-text a::after {
    background-color: hsl(4, 91%, 91%);
}
.stand-out-text a:hover::after {
    background-color: hsl(7, 99%, 70%);
}
.transform-text .heading, .stand-out-text .heading {
    color: hsl(212, 27%, 19%);
}
.graphic-text {
    background-image: url(images/desktop/image-graphic-design.jpg);
    color: hsl(167, 40%, 24%);
}
.photography-text {
    background-image: url(images/desktop/image-photography.jpg);
    color: hsl(198, 62%, 26%);
}
.transform-text, .stand-out-text {
    justify-content: center;
    padding: 3rem 0rem;
}
.graphic-text, .photography-text {
    justify-content: end;       /* Make the grid item fill its column */
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-size: cover;
}
/*.body {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    min-height: 100%;
    align-items: center;
    justify-items: center;
    gap: 0;
}
.body div {
    width: 100%;
    margin: 0;
    height: 100%;
    border: 1px solid black;
}
.body div img {
    width: 100%;
}
.transform-text, .stand-out-text, .graphic-text, .photography-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.graphic-text, .photography-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}*/
/*=== testimonials ===*/
.testimonials {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
}
.testimonials h2 {
    color: hsl(210, 4%, 67%);
    font-family: "Fraunces", serif;
}
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info img {
    border-radius: 100%;
    width: 90px;
}
.testimonials div {
    padding: 20px;
    margin: 20px;
}
.comment {
    color: hsl(213, 9%, 39%);
    font-weight: 600;
}
.name {
    color: hsl(212, 27%, 19%);
    font-weight: 800;
    font-family: "Fraunces", serif;
    font-size: 1.5rem;
}
.role {
    color: hsl(210, 4%, 67%);
}
/*=== Gallery ===*/
.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: end;
    align-items: center;
}
.gallery img {
    width: 100%;
}
footer {
    background-color: hsl(167, 44%, 70%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}
.footer-img {
    background-color: hsl(167, 44%, 70%);
    margin: 2rem;
}
.links {
    margin: 1rem 2rem 3rem 2rem
}
.links a {
    margin: 1rem;
}
.links a:hover, .attribution a:hover {
    color: white;
}
.socials {
    margin: 3rem;
}
.socials a {
    margin: 10px;
}
footer a {
    text-decoration: none;
    color: hsl(167, 34%, 41%);
}
.attribution {
    margin: 4rem;
}
/*=== Desktop responsive ===*/
@media screen and (min-width: 765px) {
    /*=== Navigation Bar ===*/
    .icon-hamburger {
        display: none;
    }
    .nav-items div {
        background-color: transparent;
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-items {
        position: relative;
        padding: 0px;
        top: 0px;
        left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .nav-links {
        flex-direction: row;
    }
    .nav-links li {
        color: white;
        margin: 0px 20px;
    }
    .nav-items div::before {
        border: none;
    }
    .button button {
        background-color: white;
        border: none;
        border-radius: 20px;
        padding: 10px 20px;
        font-family: "Fraunces", serif;
        margin: 0px 20px;
    }
    /*=== Hero section ===*/
    #hero {
        background-image: url(images/desktop/image-header.jpg);
    }
    /*=== body section ===*/
    .body {
        grid-template-columns: repeat(2, 1fr);
    }
    .transform-text {
        grid-column-start: 1;
        grid-row-start: 1;
    }
    /*=== Testimonials ===*/
    .testimonials {
        height: 100vh;
    }
    .info {
        flex-direction: row;
    }
    /*=== Gallery ===*/
    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }
}